*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: #334;
}
nav h2{
    font-size: 40px;
    color: white;
    position: absolute;
    padding: 10px 5px 10px 5px;
}
nav ul{
    list-style-type: none;
    padding: 10px 5px 10px 5px;
    font-size: 24px;
    overflow: hidden;
}
nav li{
    float: right;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover{
    background-color: coral;
    color: lime;
    border-radius: 15px;
}
#contactSection{
    display: flex;
    gap: 2vw;
}
#contactImg img{
    width: 700px;
    height: 600px;
}
#contact{
    margin-top: 20px;
}
#contact img{
    width: 800px;
    height: 300px;
}

footer{
    text-align: center;
    background-color: #1f1f1f;
    color: #b6b6b6;
    padding: 30px;
    font-size: 24px;
    margin-top: 50px;
}
#nameColor{
    color: chartreuse;
}