*{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav{
    background-color: #334;
}
nav h2{
    font-size: 40px;
    color: white;
    position: absolute;
    padding: 10px 5px 10px 5px;
}
nav ul{
    list-style-type: none;
    padding: 10px 5px 10px 5px;
    font-size: 24px;
    overflow: hidden;
}
nav li{
    float: right;
}
nav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover{
    background-color: coral;
}

.blogs{
    padding: 50px 180px 50px 180px;
}
.blogs h3{
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 28px;
}

#cars{
    text-align: center;
    font-size: 24px;
}

#carsInFlex{
    display: flex;
    margin-top: 50px;
    font-size: 12px;
}

#carsInFlex img{
    width: 500px;
    height: 250px;
}
#carsInFlex p{
    font-size: 16px;
    padding: 20px 40px 20px 40px;
    text-align: left;
}

footer{
    text-align: center;
    background-color: #1f1f1f;
    color: #b6b6b6;
    padding: 30px;
    font-size: 24px;
    margin-top: 50px;
}

#footerColor{
    color: #334;
}